button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 


/*label {
    text-wrap: true;
}

.container  {
    padding: 16;    
}

.title {
    font-size: 16;
    color: #333333;
}

.time {
    font-size: 12;
    font-weight: bold;
    color: #034D8D;
}

.speaker {
    font-size: 12;
    color: #034D8D;
}*/